  using System;
  using System.Collections.Generic;
  using System.IO;
  using System.Linq;
  using System.Net;
  using System.Text;
  using System.Management.Automation;
  using Newtonsoft.Json;
  using Newtonsoft.Json.Converters;

  namespace {{invokerPackage}} {
    public class ApiInvoker {
    
      private string defaultBasePath;
      private Dictionary<String, String> defaultHeaderMap = new Dictionary<String, String>();
      private CredentialCache myCache = new CredentialCache();

      public ApiInvoker (string basePath, Dictionary<String, String> headerParams, PSCredential PSCreds ) {
        defaultBasePath = basePath.EndsWith("/") ? basePath.Substring(0, basePath.Length - 1) : basePath;;
        foreach (var headerParamsItem in headerParams)
        {
            defaultHeaderMap.Add(headerParamsItem.Key, headerParamsItem.Value);
        }
        
        NetworkCredential myCred = PSCreds.GetNetworkCredential();
        myCache.Add(new Uri(defaultBasePath), "Basic", myCred);
      }

      public void addDefaultHeader(string key, string value) {
         defaultHeaderMap.Add(key, value);
      }

      public string escapeString(string str) {
        return str;
      }

      public static object deserialize(string json, Type type) {
        try
        {
            return JsonConvert.DeserializeObject(json, type);
        }
        catch (IOException e) {
          throw new ApiException(500, e.Message);
        }

      }

      public static string serialize(object obj) {
        try
        {
            return obj != null ? JsonConvert.SerializeObject(obj,new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }) : null;
        }
        catch (Exception e) {
          throw new ApiException(500, e.Message);
        }
      }

      public string invokeAPI(string path, string method, Dictionary<String, String> queryParams, object body, Dictionary<String, String> headerParams) {
        var b = new StringBuilder();
        
        foreach (var queryParamItem in queryParams)
        {
            var value = queryParamItem.Value;
            if (value == null) continue;
            b.Append(b.ToString().Length == 0 ? "?" : "&");
            b.Append(escapeString(queryParamItem.Key)).Append("=").Append(escapeString(value));
        }

        var querystring = b.ToString();

          var client = WebRequest.Create(defaultBasePath + path + querystring);
          client.ContentType = "application/json";
          client.Credentials = this.myCache;
          client.Method = method;

          foreach (var headerParamsItem in headerParams)
          {
              client.Headers.Add(headerParamsItem.Key, headerParamsItem.Value);
          }
          foreach (var defaultHeaderMapItem in defaultHeaderMap.Where(defaultHeaderMapItem => !headerParams.ContainsKey(defaultHeaderMapItem.Key)))
          {
              client.Headers.Add(defaultHeaderMapItem.Key, defaultHeaderMapItem.Value);
          }
    
          switch (method)
          {
              case "GET":
                  break;
              case "POST":
              case "PUT":
              case "DELETE":
                  var swRequestWriter = new StreamWriter(client.GetRequestStream());
                  swRequestWriter.Write(serialize(body));
                  swRequestWriter.Close();
                  break;
              default:
                  throw new ApiException(500, "unknown method type " + method);         
          }
          
          
          try 
          {
              var webResponse = (HttpWebResponse) client.GetResponse();

              var responseReader = new StreamReader(webResponse.GetResponseStream());
              var responseData = responseReader.ReadToEnd();
              responseReader.Close();
  
              return responseData;
          }
          catch (WebException e)
          {
              HttpWebResponse errWebResponse = (HttpWebResponse) e.Response;
              var errResponseReader = new StreamReader(errWebResponse.GetResponseStream());
              var errResponseData = errResponseReader.ReadToEnd();
              errResponseReader.Close();
              throw new ApiException((int) errWebResponse.StatusCode, errWebResponse.StatusDescription + ":\n" + errResponseData);
          }

      }

    }
    public class IsoDateTimeConverterFff : IsoDateTimeConverter
    {
        public IsoDateTimeConverterFff()
        {
            base.DateTimeFormat = "yyyy-MM-ddTHH:mm:ss.fffZ";
        }
    }
  }
